* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.dec,
.inc {
  padding: 5px 7px;
  border:1px solid #ccc;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 10px;
}

.card img {
  max-width: 100%;
}

.card h4 {
  text-align: center;
  color: teal;
}