@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
    color: teal;
}

.calculator{
    width: 40vw;    
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.keypad {
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(23%,1fr));
    grid-gap: 5px;
}

.btn {
    background-color: #222;
    color:#fff;
    padding: 6px 8px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn:hover {
    background-color: teal;
}

.display {
    background-color: #222;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.display .out {
    font-size: 1.2rem;
    color: gold;
}

.display .inp {
    font-size: 0.8rem;
}